@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

html::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  background-color: #ffffff;
}
 
html::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
  border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#ff5e00),
									   to(#ddc433),
									   color-stop(.6,#584b3c))
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #ffecd1;
	border-radius: 10px;
}

html::-webkit-scrollbar-button {
  background: rgb(255, 146, 3);
  height: 15px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  background: #fafafa;
}

header {
  min-height: 20vh;
  width: 80%;
  margin: auto;
  /* background-color: rgb(127, 229, 255); */
}

h1{
  color: white;
}

main {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

a {
  color: #1381C7;
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 9px 5px 106px -8px rgba(0, 0, 0, 0.36);
  transition: all 500ms linear;
  transform: scale(1.05);
  background-color: #0C4F6C ;
}

.card:hover a{
  color: #fff;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.user-container {
  display: flex;
  flex-direction: row;
}

.user-icon {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0084cf;
  padding-bottom: 3rem;
  color: #ffff;
}

